<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        أحمد محمد
                        <span class="user-level"><strong>
                                مديــر
                         
                        </strong></span>
                        <span class="caret"></span>
                        <br/>
                        <br/>
                        <a class="btn btn-danger">	<i class="la  la-sign-out"></i>خــروج</a>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">

                        <li>
                            <a href="#info">
                                <span class="link-collapse">البيانات الشخصية</span>
                            </a>
                        </li>
                        <li>
                            <a href="#logout">
                                <span class="link-collapse">تسجيل خروج</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                    <a href="/index.html">
                
                    <i class="la la-home"></i>
                    <p>الرئيسية</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/gawlat">
                    <i class="la la-street-view"></i>
                    <p>الجولات</p>
                    <span class="badge badge-count badge-success"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="mokhlfat">
                    <i class="la la-hourglass-start"></i>
                        <p>مخالفات قيد الإنتظار</p>
                        <span class="badge badge-count badge-warning"></span>

                </a>
            </li>
            <li class="nav-item">
                <a href="supers.html">
                    <i class="la la-users"></i>
                        <p>المراقبين</p>
                        <span class="badge badge-count"></span>
                </a>
            </li>
                <li class="nav-item update-pro">
                    <a href="/gawla/add" class="btn btn-default">
                        <i class="la la-street-view"></i>
                            <p>اضافة جولة</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>