<%- include('./includes/head.ejs')%>
<body >
	<div class="wrapper">

			<%- include("./includes/header.ejs") %>
			<%- include("./includes/sidebar.ejs") %>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                حدث خطأ ما, رجاء حاول مرة أخرى
                            </div>
                        </div>
					</div>
				</div>


			</div>
		</div>
	</div>

</body>
<%- include('./includes/footer.ejs')%>
</html>